.w3-theme-l5 {color:#000 !important; background-color:#f6fef7 !important}
.w3-theme-l4 {color:#000 !important; background-color:#e1fbe5 !important}
.w3-theme-l3 {color:#000 !important; background-color:#c2f6cb !important}
.w3-theme-l2 {color:#000 !important; background-color:#a4f2b1 !important}
.w3-theme-l1 {color:#000 !important; background-color:#86ee97 !important}
.w3-theme-d1 {color:#000 !important; background-color:#4ae564 !important}
.w3-theme-d2 {color:#fff !important; background-color:#2ce14a !important}
.w3-theme-d3 {color:#fff !important; background-color:#1dce3b !important}
.w3-theme-d4 {color:#fff !important; background-color:#19b132 !important}
.w3-theme-d5 {color:#fff !important; background-color:#15932a !important}

.w3-theme-light {color:#000 !important; background-color:#f6fef7 !important}
.w3-theme-dark {color:#fff !important; background-color:#15932a !important}
.w3-theme-action {color:#fff !important; background-color:#15932a !important}

.w3-theme {color:#000 !important; background-color:#69ea7e !important}
.w3-text-theme {color:#69ea7e !important}
.w3-border-theme {border-color:#69ea7e !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#69ea7e !important}
.w3-hover-text-theme:hover {color:#69ea7e !important}
.w3-hover-border-theme:hover {border-color:#69ea7e !important}

.w3-winky {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Winky Sans", sans-serif;
}

/* If the checkbox is checked, make the text next to it look faded */
input:checked + span {
    text-decoration: line-through;
    opacity: 0.5;
    transition: 0.3s;
}

/* If the image fails to load, don't show the ugly border */
img {
    alt: ""; 
}

/* If the card is mastered, give it a gold glow */
.mastered-glow {
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
    border: 2px solid gold;
}