<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

    <title>Very Veggie Tracker</title>
</head>
<body>
    <!-- navigation-->
     <nav class="w3-bar w3-border w3-theme">
        <a href="" class="w3-bar-item w3-button w3-left">
            <img src="../static/images/logo.png" alt="Logo" style="height: 25px;">
        </a>
        <a href="{{ url_for('tracker.index') }}" class="w3-bar-item w3-button w3-hover-theme">Home</a>
        <a href="{{ url_for('tracker.quit_app') }}" 
            class="w3-bar-item w3-button w3-theme-action w3-right">
            <img src="../static/images/power.png" alt="Quit"> Quit Tracker
        </a>
        {% if session['user_id'] %}
            <a href="{{ url_for('tracker.index') }}" class="w3-bar-item w3-button w3-hover-theme">Dashboard</a>
            <a href="{{ url_for('auth.logout') }}" class="w3-bar-item w3-button w3-hover-theme w3-right">Log Out</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}" class="w3-bar-item w3-button w3-hover-theme w3-right">Log In</a>
            <a href="{{ url_for('auth.register') }}" class="w3-bar-item w3-button w3-hover-theme w3-right">Register</a>
        {% endif %}
    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>